services:
  app:
    container_name: desafio-jitterbit-api
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - DATABASE_URL=postgresql://user:password@db:5432/meubanco
    depends_on:
      - db
  
  db:
    container_name: postgres-dev
    image: postgres:18-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=meubanco
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: